@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";
@import "leaflet/dist/leaflet.css";


:root {
  --background: #ffffff;
  --foreground: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-myGreen: #3ecf8e;
  --color-myGreenDark: #37ba7f;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;

}

button {
  @apply hover:cursor-pointer;

  &:disabled {
    cursor: default;
    background-color: var(--color-gray-400)
  }
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield;
  -moz-appearance: textfield;
}

.basic-button {
  @apply border border-gray-300 p-2 rounded-md hover:cursor-pointer text-sm;
}